certifi==2018.1.18
chardet==3.0.4
idna==2.6
Logbook==1.4.0
lxml==4.2.1
monotonic==1.5
py==1.5.3
pyshark==0.3.7.11
PySocks==1.6.8
requests==2.18.4
scapy==2.4.0
six==1.11.0
sseclient==0.0.19
trollius==1.0.4
urllib3==1.22

